@model IEnumerable<Blog_Son.Models.Makale>
@{
    ViewBag.Title = "Index";
}

<h2>@Resources.HomeLan.Makaleler</h2>
<br /><br />
<div class="categories widget" style="font-size:16px; font-weight:600">
    <div class="col-md-4">@Resources.HomeLan.Baslik</div>
    <div class="col-md-2">@Resources.HomeLan.Yazar</div>
    <div class="col-md-2">@Resources.HomeLan.Kategoriler</div>
    <div class="col-md-2">@Resources.HomeLan.Yayim</div>
    <div class="col-md-2">@Resources.HomeLan.Yayinda</div>
</div>
<hr /><hr />
@foreach (var item in Model)
{
    <div>
        <div class="col-md-4">@item.Baslik</div>
        <div class="col-md-2">@item.Kullanici.Adi @item.Kullanici.Soyadi</div>
        <div class="col-md-2">@item.Kategori.Adi</div>
        <div class="col-md-2">@item.YayimTarihi</div>
        <div class="col-md-2">@item.Aktif</div>
    </div>
}
@*<table>
        <tr>
            <th>Başlık</th>
            <th>Yazar</th>
            <th>Kategori</th>
            <th>Yayım Tarihi</th>
            <th>Yayında</th>
        </tr>
    </table>*@